# Gemini API Key (optional, other options below)
GOOGLE_GENERATIVE_AI_API_KEY="insert-secret-key-here"

# Anthropic API Key (optional, other options above/below)
ANTHROPIC_API_KEY="insert-secret-key-here"

# OpenAI API Key (optional, other options above)
OPENAI_API_KEY=
DEEPSEEK_API_KEY=

OPENAI_COMPATIBLE_BASE_URL=
OPENAI_COMPATIBLE_API_KEY=...
OPENAI_COMPATIBLE_MODEL=
